// это файлик с глобальным истилями которые мы не хотим изолировать
// если остаивть конфиг вебпака обычным, то он будет хэшировать и эти стили тоже, поэтому вложенные компоненты парентам которых
// мы будем указывать эти глобальные стили не будут применены. поэтому там нужно сделтаь так чтобы эти стили не хэшировались
// поэтому хэшировать будем только там где есть модульный подход и чтобы в дев режиме стили были не хэшированными, читабельными
@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

.app {
  font: var(--font-m);

  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}